Biblioteka do realizacji operacji MinHash z wykorzystaniem rozszerzeñ SIMD.
1. Zaimplementowana w c++,
2. Wieloplatformowa (windows/linux),
3. Obs³uga SSE2, AVX, AVX2 (wykrywanie dostêpnych instrukcji, ka¿dy plik CPP kompilowany z innymi parametrami).
4. Wykorzystanie Intel Intrinsics (https://software.intel.com/sites/landingpage/IntrinsicsGuide/#)
5. Na pocz¹tek operacje na argumentach 64-bit (w kolejnym mejlu).
6. Œrodowisko testowe:
 a) zaimplementowaæ wariant skalarny,
 b) porównaæ poprawnoœæ,
 c) pomierzyæ czasy wykonania.
7. Byæ mo¿e warto wykorzystaæ szablony.
8. Obiektowoœæ - ok, polimorfizm - na wy¿szym poziomie.